<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>人间头像使用历史～</title>
        <link rel="stylesheet" href="/debugmedia/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/debugmedia/zoomer/zoomer.css" type="text/css" media="screen" />
        <!--[if ie]>
            <link rel="stylesheet" type="text/css" href="debugmedia/css/ie.css" />
        <![endif]-->
    </head>
    <body>
    <script type="text/javascript" src="/debugmedia/zoomer/jquery.min.js"></script>
    <script type="text/javascript" src="/debugmedia/zoomer/zoomer.js"></script> 
    <div id="supermini">
        <div id="linkedlogo"><a href="http://www.ikDicht.be"><span>Home</span></a></div>
        <ul id="about">
            <li class="about-top">&nbsp;</li>
            <li class="about">
                <p>有{{ num }}位小盆友来过…… 总共查询了{{ visitnum }}次</p>
            </li>
            <li class="about-bottom">&nbsp;</li>
        </ul>
        
        <ul id="oldentries">
		    <li class="page_item">
                <p><a href="/"><< 返回</a></p>
            </li>
            <!-- history -->
            {% for ren in rens %}
            <li>
                <span class="olddate">{{ ren.date|truncatewords:"2" }}</span> 
                <h3><a href="http://renjian.com/{{ ren.user_name }}/">@{{ ren.user_name }}</a></h3> 
            </li> 
            {% endfor %}
			
			<li class="page_item">
                <p><a href="/"><< 返回</a></p>
            </li>
        </ul> 
         
        <div id="footer">
            <p><br/>Produced by <a href="http://arthraim.cn/" target="_blank">Arthraim.cn</a>
             | Powered by <a href="http://renjian.com/api.html" target="_blank">renjian API</a><br/>
            Theme by <a href="http://www.unnerkrunt.de" title="Original draft by Patrick Behrend">unnerkrunt</a> and <a href="http://nocreativity.com" title="Final touch and finalization by Ronny  Welter">nocreativity</a>
            </p> 
        </div>
        
    </div>
    </body>
</html>
