<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% if not user %}
        <title>人间头像～</title>
        {% else %}
        <title>@{{ user.screen_name }}的人间头像～</title>
        {% endif %}
        <link rel="stylesheet" href="/debugmedia/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/debugmedia/zoomer/zoomer.css" type="text/css" media="screen" />
        <!--[if ie]>
            <link rel="stylesheet" type="text/css" href="debugmedia/css/ie.css" />
        <![endif]-->
        <script type="text/javascript">
            function openSearch(){
                document.getElementById("searchBox").style.display = "inline";
                document.getElementById("searchLink").style.display = "none";
            }
        </script>
    </head>
    <body>
    <script type="text/javascript" src="/debugmedia/zoomer/jquery.min.js"></script>
    <script type="text/javascript" src="/debugmedia/zoomer/zoomer.js"></script> 
    <script type="text/javascript">
    $(document).ready(function(){
        $('ul.thumb li').Zoomer({speedView:200,speedRemove:400,altAnim:false,speedTitle:400,debug:false});
    });
    </script>
    <div id="supermini">
        <div id="linkedlogo"><a href="http://www.ikDicht.be"><span>Home</span></a></div>
        <ul id="about">
            <li class="about-top">&nbsp;</li>
            {% if not user %}
            <li class="about"><p>在下面输入你的<a href="http://renjian.com/" target="_blank">人间网</a>帐号名吧～</p></li>
            {% else %}
            <li class="about">
                <p>@<a href="http://renjian.com/{{ user.screen_name }}" target="_blank">{{ user.screen_name }}</a>的
                    <a href="http://renjian.com/" target="_blank">人间</a>头像～
                </p>
            </li>
            {% endif %}
            <li class="about-bottom">&nbsp;</li>
        </ul>
        
        {% if avatars %}
        <ul id="firstPost"> 
            <li class="firstPost-top">&nbsp;</li> 
            <li class="firstPost"> 
                <h2>
                <a href="http://www.renjian.com/outside/share_link.xhtml?link=http://{{ host }}/avatars/?user={{ user.screen_name }}" 
                   target="_blank" 
                   title="让你在人间网的朋友们也能看到你用过些什么头像～">分享到人间</a>
                <img src="http://www.renjian.com/images/tools/images/share-icon-1.gif" />
                </h2>
                <!-- Zoomer begin -->
                <ul class="thumb">
                    {% for avatar in avatars %}
                    <li><a href="#"><img src="{{ avatar }}" /></a></li>
                    {% endfor %}
                </ul>
                <div class="break"></div>
                <!-- Zoomer end -->
            </li> 
            <li class="firstPost-bottom"><a href="http://renjian.com/{{ user.screen_name }}">关注@{{ user.screen_name }}</a></li> 
        </ul>
        {% else %}
            {% if user %}
            <ul id="firstPost"> 
                <li class="firstPost-top">&nbsp;</li> 
                <li class="firstPost"> 
                    <p>@<a href="http://renjian.com/{{ user.screen_name }}" target="_blank">{{ user.screen_name }}</a>还没有用过自己的头像…… 强烈鄙视之……</p>
                    <p><img src="http://renjian.com/images/buddy_icon/120x120.jpg"/></p> 
                </li> 
                <li class="firstPost-bottom"></li> 
            </ul>
            {% endif %}
        {% endif %}
        
        <ul id="oldentries"> 
            <!-- search -->
            {% if not user %}
            <li class="page_item" id="searchBox">
            {% else %}
            <li class="page_item" id="searchLink">
                <h3><a href="#" onclick="openSearch(); return false;">点我重新输入，再去看看别人的吧～</a></h3>
            </li>
            <li class="page_item" id="searchBox" style="display:none;"> 
            {% endif %} 
                <form method="post" id="searchform" action="/post_name/"> 
                    <div>
                        {% if not user %}
                        <input type="text" name="content" id="s" size="30" />
                        {% else %}
                        <input type="text" name="content" id="s" size="30" value="{{ user.screen_name }}" />
                        {% endif %} 
                        <input type="submit" id="searchsubmit" value="GO" />
                    </div> 
                </form> 
            </li>
            <!-- history -->
            {% for ren in rens %}
            <li>
                <span class="olddate">{{ ren.date|truncatewords:"2" }}</span> 
                <h3><a href="http://renjian.com/{{ ren.user_name }}/">@{{ ren.user_name }}</a></h3> 
            </li> 
            {% endfor %}
			<!-- see more -->
			<li class="page_item olddate"><p><a href="/history">查看更多历史 >></a></p></li>
        </ul>
		
        <div id="footer">
            <p><br/>Produced by <a href="http://arthraim.cn/" target="_blank">Arthraim.cn</a>
             | Powered by <a href="http://renjian.com/api.html" target="_blank">renjian API</a><br/>
            Theme by <a href="http://www.unnerkrunt.de" title="Original draft by Patrick Behrend">unnerkrunt</a> and <a href="http://nocreativity.com" title="Final touch and finalization by Ronny  Welter">nocreativity</a>
            </p> 
        </div>
        
    </div>
    </body>
</html>
